apiVersion: apps/v1
kind: Deployment
metadata:
  name: App
spec:
  selector:
    matchLabels:
      app: app
  replicas: 6
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
      - name: php-app
        image: bhatia53/proj2
        ports:
        - containerPort: 80
          name: web-port
       serviceAccountName: myAccount
